/* CSS VARIABLES */
:root {
  --dark-blue-intro-email-bg: hsl(217, 28%, 15%);
  --main-bg: hsl(218, 28%, 13%);
  --footer-bg: hsl(216, 53%, 9%);
  --testimonial-bg: hsl(219, 30%, 18%);

  --cyan: hsl(176, 68%, 64%); /* (inside call-to-action gradient) */
  --blue: hsl(198, 60%, 50%); /* (inside call-to-action gradient) */
  --light-red: hsl(0, 100%, 63%); /* (error) */

  ---white: hsl(0, 0%, 100%);
}

/* GENERAL CSS */
body {
  background-color: var(--dark-blue-intro-email-bg);
  font-family: "Open Sans", sans-serif;
}

/* ============ NAVBAR ============ */
.nav-container {
  width: 90%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container img {
  width: 80%;
}

.links {
  display: flex;
  gap: 30px;
  font-family: "Raleway", sans-serif;
}

.links a {
  text-decoration: none;
  color: var(---white);
}

/* ============ NAVBAR ============ */
/* ============ HERO ============ */
.main-container {
  width: 50%;
  margin: auto;
  text-align: center;
  position: relative;
  z-index: 10;
}

.main-container img {
  width: 100%;
}

.main-heading {
  color: var(---white);
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin: 30px 0;
  line-height: 1.5;
}

.desc {
  color: var(---white);
  font-size: 1rem;
  width: 70%;
  margin: 30px auto;
  line-height: 1.5;
}

.mainCta {
  width: 30%;
  padding: 10px 0;
  border: none;
  border-radius: 30px;
  background-color: var(--blue);
  color: var(---white);
}

/* ============ Services ============ */

.service-section {
  background-color: var(--main-bg);
  margin-top: -200px;
}

.top-curve svg {
  background-color: var(--dark-blue-intro-email-bg);
  width: 100%;
  position: relative;
}

.services {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  text-align: center;
}

.services:nth-child(3) {
  margin-top: 50px;
}

.service img {
  width: 25%;
  height: 32%;
}

.service-heading {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  color: var(---white);
  margin: 50px 0 10px 0;
}

.service-desc {
  color: var(---white);
  line-height: 1.5;
  font-size: 0.9rem;
  width: 100%;
  margin: auto;
}

/* ============ Services ============ */
/* ============ Productive ============ */
.productive-section {
  background-color: var(--main-bg);
}

.productive {
  padding: 100px 0;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 70px;
}

.productive-heading {
  font-size: 2.3rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: var(---white);
  margin-bottom: 30px;
}

.productive-desc {
  color: var(---white);
  line-height: 1.5;
  margin-bottom: 20px;
}

.productive-content a {
  color: var(--cyan);
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--cyan);
}

/* ============ Productive ============ */
/* ============ Testimonial ============ */
.testimonial-service {
  background-color: var(--main-bg);
}

.quote {
  position: relative;
  left: 100px;
}

.testimonials {
  width: 80%;
  margin: auto;
  display: flex;
  gap: 30px;
}

.testimonial {
  background-color: var(--testimonial-bg);
  padding: 30px 20px;
  border-radius: 5px;
  margin-bottom: 150px;
}

.testimonial-desc {
  font-size: 0.9rem;
  color: var(---white);
  line-height: 1.5;
}

.client {
  display: flex;
  gap: 20px;
  color: var(---white);
  margin-top: 20px;
}

.client img {
  width: 10%;
  border-radius: 50%;
}

.client-name {
  font-size: 0.9rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.position {
  margin-top: 5px;
  font-size: 0.8rem;
}
/* ============ Testimonial ============ */
/* ============ Newsletter ============ */

.newsletter-section {
  background-color: var(--main-bg);
}

.newsletter {
  position: relative;
  z-index: 5;
  background-color: var(--main-bg);
  width: 50%;
  margin: auto;
  color: var(---white);
  padding: 50px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 5px 3px 3px rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0px 5px 3px 3px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 5px 3px 3px rgba(0, 0, 0, 0.19);
}

.newsletter-heading {
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.newsletter-desc {
  font-size: 0.9rem;
  margin: 20px 0 30px;
  line-height: 1.5;
}

.sub {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.input {
  width: 60%;
  border-radius: 30px;
  border: none;
  padding-left: 30px;
}

.sub-btn {
  background-color: var(--blue);
  border-radius: 30px;
  border: none;
  padding: 0 20px;
  color: var(---white);
}

/* ============ Newsletter ============ */
/* ============ Footer ============ */
.footer-section {
  margin-top: -100px;
  background-color: var(--footer-bg);
  padding: 200px 0 100px;
}

.footer-container {
  width: 90%;
  margin: auto;
  color: var(---white);
}

.footer-details {
  display: flex;
  gap: 70px;
  margin-top: 50px;
}

.location {
  display: flex;
  gap: 40px;
  width: 40%;
}

.location img {
  width: 3%;
  height: 20%;
}

.footer-desc {
  line-height: 1.5;
}

.contact {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-links a {
  text-decoration: none;
  color: var(---white);
}

.socials {
  display: flex;
  gap: 20px;
}

.socials a {
  font-size: 1.5rem;
  color: var(---white);
}
