/* CSS VARIABLES */
:root {
  --dark-blue-intro-email-bg: hsl(217, 28%, 15%);
  --main-bg: hsl(218, 28%, 13%);
  --footer-bg: hsl(216, 53%, 9%);
  --testimonial-bg: hsl(219, 30%, 18%);

  --cyan: hsl(176, 68%, 64%); /* (inside call-to-action gradient) */
  --blue: hsl(198, 60%, 50%); /* (inside call-to-action gradient) */
  --light-red: hsl(0, 100%, 63%); /* (error) */

  ---white: hsl(0, 0%, 100%);
}

/* GENERAL CSS */
body {
  background-color: var(--dark-blue-intro-email-bg);
  font-family: "Open Sans", sans-serif;
}

/* ============ NAVBAR ============ */
.nav-container {
  width: 90%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container img {
  width: 80%;
}

.links {
  display: flex;
  gap: 30px;
  font-family: "Raleway", sans-serif;
}

.links a {
  text-decoration: none;
  color: var(---white);
}

/* ============ NAVBAR ============ */
/* ============ HERO ============ */
.main-container {
  width: 50%;
  margin: auto;
  text-align: center;
  position: relative;
  z-index: 10;
}

.main-container img {
  width: 100%;
}

.main-heading {
  color: var(---white);
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin: 30px 0;
  line-height: 1.5;
}

.desc {
  color: var(---white);
  font-size: 1rem;
  width: 70%;
  margin: 30px auto;
  line-height: 1.5;
}

.mainCta {
  width: 30%;
  padding: 10px 0;
  border: none;
  border-radius: 30px;
  background-color: var(--blue);
  color: var(---white);
}

/* ============ Services ============ */

.service-section {
  background-color: var(--main-bg);
  margin-top: -200px;
}

.top-curve svg {
  background-color: var(--dark-blue-intro-email-bg);
  width: 100%;
  position: relative;
}

.services {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  text-align: center;
}

.services:nth-child(3) {
  margin-top: 50px;
}

.service img {
  width: 25%;
  height: 32%;
}

.service-heading {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  color: var(---white);
  margin: 50px 0 10px 0;
}

.service-desc {
  color: var(---white);
  line-height: 1.5;
  font-size: 0.9rem;
  width: 100%;
  margin: auto;
}

/* ============ Services ============ */
/* ============ Productive ============ */
